{% extends "blog/base.html" %} 

{% block content %}
	<h2 style="padding: 25px">About Page!</h2>
	<br>
	<p style="padding: 25px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget odio bibendum, ullamcorper turpis bibendum, ullamcorper turpis. Nam sit amet velit ex. Maecenas scelerisque vehicula massa ac dictum. In ut condimentum ante, id sollicitudin justo. Cras accumsan volutpat sagittis. Integer posuere risus eu nulla porta, ut tincidunt eros finibus. Fusce nulla mauris, blandit quis facilisis nec, pulvinar eget metus. Donec tempus ac elit pretium dignissim. Aliquam interdum turpis eget purus malesuada, eu ultricies augue consequat. Nunc interdum, nunc eu vestibulum gravida, mi nibh sagittis lacus, quis aliquam turpis orci iaculis tortor. Phasellus gravida erat erat, vitae aliquam nibh lacinia ac. Proin rhoncus diam non velit tincidunt semper. Mauris vitae lectus eget quam molestie cursus at ac magna. Aliquam eu laoreet quam.</p>
{% endblock content %}