{% extends "blog/base.html" %} 

{% block content %}

	{% for post in posts %}
		<div class="clearfix" style="margin-left: 100px; width: 55%; float:left;">
		  <div class="box" style="float:left; background-color:#edeff2; width: 90%;">
		    <h3 align="left">{{ post.title }}</h3>
		    <p>{{ post.content }}</p>
		    <div style="width: 100%; overflow: hidden; padding: 15px">
		      <div style="width: 65%; float: left;">{{ post.author }}</div>
		      <div style="float: right;">{{ post.date_posted|date:'F d, Y' }}</div>
		    </div>
		  </div>
		</div>
	{% endfor %}

{% endblock content %}